<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transportes</title>
</head>
<body>
    <a href="insertCliente.php">Inserir cliente</a>
    <a href="insertEntregador.php">Inserir entregador</a>
    <a href="viewClientes.php">Visualizar clientes</a>
    <a href="viewEntregadores.php">Visualizar entregadores</a>
    <a href="addDestino.php">Adicionar Encomenda</a>
    <a href="viewEncomendas.php">Ver encomendas</a>
</body>
</html>